table{
    border-collapse: collapse;
    width: 700px;
    margin-top: 10px;
}

table th, table td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th{
    background-color: rgba(103, 170, 103, 0.733);
}
